.text-center
  - (1..@game.grid.length).reverse_each do |y|
    - (1..@game.grid.width).each do |x|
      - box = @game.grid.find_by_coordinates(x, y)
      - if box.display_character == '@'
        %strong
          = box.display_character
      - else
        = box.display_character
      - if x == @game.grid.width
        %br
  %hr
  %strong
    @:
  You
  %strong
    L:
  Locked
  %strong
    +:
  Healing
  %strong
    \-:
  Trap
  %strong
    \%:
  Teleport
  %strong
    E:
  Enemy
  %strong
    I:
  Item
  %strong
    ?:
  Unexplored
  %strong
    X:
  Explored
  %br
  %br
